



<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 col-md-offset-5 app-container" style="margin-top: 10%;">
			<img class="img-responsive" src="img/logo_big.png">
			<form method="POST" action="">
				<h3>Log In</h3>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">
							<i class="fa fa-user fa-fw"></i>
						</div>
						<input type="text" class="form-control" name="username" placeholder="Username" required>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-lg">
						<div class="input-group-addon">
							<i class="fa fa-key fa-fw"></i>
						</div>
						<input type="password" class="form-control" name="password" placeholder="Password" required>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<span class="checkbox">
								<label>
									<input type="checkbox" name="remember_me" value="1">Remember Me
								</label>
							</span>
						</div>
						<div class="col-md-1 col-md-offset-3">
							<button type="submit" class="btn btn-primary" style="margin-top: 5px;">
								<i class="fa fa-sign-in fa-lg"></i>&nbsp;Log In
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


