
body
{
    background-color: #edeef0;
}

.app-container
{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.ajax-loading
{
    display: none;
    margin-top: 12px;
    margin-bottom: 20px;
}

#song-list
{
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

#side-lists
{
    height: 60%;
    overflow-y: auto;
    overflow-x: hidden;
}

.song-row
{
    margin-bottom: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}

.song-edit
{
    visibility: hidden;
}

.song-row:hover
{
    cursor: pointer;
    background-color: #f2f4f7;
}

.song-row:hover .song-edit
{
    visibility: visible; 
}

.song-row.selected
{
    background-color: #e9edf1;
}

.song-row:hover:not(.playing) .thumbnail-overlay.play
{
    opacity: .8;
}

.song-row.playing:hover .thumbnail-overlay.pause
{
    opacity: .8;
}

.artist-item
{
    text-align: center;
    margin-bottom: 2px;
}

.artist-thumbnail
{
    border-radius: 10px;
    width: 174px;
}

.album-thumbnail
{
    margin: 2px;
    border-radius: 4px;
    display: inline-block;
    width: 72px;
    height: 72px;
}

.overlay-container:hover .overlay
{
    opacity: .8;
}

.overlay-container:hover
{
    cursor: pointer;
}

.overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
}

.overlay > i
{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.audio-control:hover
{
    cursor: pointer;
    color: grey;
}



#song-slider-id
{
    width: 95%;
}
#volume-slider-id
{
    width: 100%;
}

#volume-slider-id .slider-track
{
    height: 6px;
}
#volume-slider-id .slider-handle
{
    top: 2px;
    height: 12px;
    width: 12px;
}

#song-slider-id .slider-handle, 
#volume-slider-id .slider-handle 
{
    background: #577ca1;
    z-index: 2;
}

#song-slider-id .slider-selection,
#volume-slider-id .slider-selection
{
    background: #577ca1;
    z-index: 1;
}

#song-slider-id .slider-rangeHighlight.buffered
{
    background: #b8c7d7;
    z-index: 0;
}

#playing-artwork
{
    border-radius: 10px;
}


.clickable:hover
{
    cursor: pointer;
    color: rgb(182, 179, 179);
}
.clickable-text:hover
{
    cursor: pointer;
    color: rgb(182, 179, 179);
    text-decoration: underline;
}

#user-list
{
    padding-bottom: 6px;
}

.user-item
{
    margin-bottom: 2px;
}

.online-status
{
    font-size: 10px;
    margin-bottom: 10px;
}

.user-listening
{
    font-size: 12px;
}

.user-thumbnail
{
    border-radius: 6px;
}

.filter-label
{
    font-size: 12px;
}

.control-selected
{
    color: #507299 !important;
}