<div id="profile-modal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit Profile</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form method="POST" action="api/edit_user.php" id="profile-form">
						<input type="hidden" id="edit-user_id" name="user_id">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="edit-username">Username</label>
									<input type="text" id="edit-username" name="username" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label for="edit-email">E-Mail</label>
									<input type="text" id="edit-email" name="email" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<hr>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="password" name="password" placeholder="New Password" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="password" name="password" placeholder="New Password (re-type)" class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<input type="submit" class="btn btn-primary" value="Save">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>