
<div id="edit-modal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<ul class="nav nav-tabs nav-justified">
								<li class="active">
									<a data-toggle="tab" href="#edit_song">Song</a>
								</li>
								<li>
									<a data-toggle="tab" href="#edit_album">Album</a>
								</li>
								<li>
									<a data-toggle="tab" href="#edit_artist">Artist</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row tab-content">
						<div id="edit_song" class="tab-pane fade in active">
							<form method="POST" action="api/edit_song.php">
								<input type="hidden" name="mbid" id="edit-song_mbid">
								<div class="col-md-5">
									<div class="container-fluid">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label for="edit-song_title">Title</label>
													<input type="text" id="edit-song_title" name="title" class="form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label for="dit-song_artist">Artist</label>
													<select class="form-control" id="edit-song_artist" name="artist">
													</select>
												</div> 
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label for="edit-song_album">Album</label>
													<select class="form-control" id="edit-song_album" name="album">
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-7">
									<div class="form-group">
										<label for="comment">Lyrics</label>
										<textarea class="form-control" rows="16" id="edit-lyrics" name="lyrics">

										</textarea>
									</div> 
								</div>
								<div class="row">
									<div class="col-md-4">
										<input type="submit" name="save" class="btn btn-primary btn-block" value="Save">
									</div>
									<div class="col-md-4 col-md-offset-4">
										<input type="submit" name="delete" class="btn btn-danger btn-block" value="Delete">
									</div>
								</div>
							</form>
						</div>

						<div id="edit_album" class="tab-pane fade">

						</div>

						<div id="edit_artist" class="tab-pane fade">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



