<div id="metadata-modal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add a song</h4>
			</div>
			<div class="modal-body">
			</div>
		</div>
	</div>
</div>