<div id="progress-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Uploading...</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70"
								aria-valuemin="0" aria-valuemax="100" style="width:70%">
								<span class="progress-value"></span>
							</div>
						</div> 
					</div>
					<div class="row progress-description">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>