<div id="upload-modal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add a song</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<ul class="nav nav-tabs nav-justified">
								<li class="active">
									<a data-toggle="tab" href="#upload_mp3">Upload</a>
								</li>
								<li>
									<a data-toggle="tab" href="#upload_youtube">Youtube</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row tab-content">
						<div id="upload_mp3" class="tab-pane fade in active">
							<div class="col-md-12" id="upload_mp3" class="tab-pane fade in active">
								<form action="api/upload.php" id="upload-form" method="POST" enctype="multipart/form-data">
									<div class="row">
										<div class="col-md-12">
											<h4>
												Upload
												<i class="pull-right fa fa-info-circle" data-toggle='tooltip' data-placement='bottom'
												title="If the mp3 file does not contain the necessary metadata to identify the song, you may set them manually."></i>
											</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control" name="title" placeholder="Title (optional)">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control" name="artist" placeholder="Artist (optional)">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control" name="album" placeholder="Album (optional)">
											</div>
										</div>
									</div>
		
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="btn btn-primary btn-block ajax-btn-container" for="upload" title="Upload">
													<i class="fa fa-cloud-upload fa-2x"></i>
													<input id="upload" type="file" class="file ajax-btn" style="display:none;" name="songs[]" accept=".mp3" required multiple> 
												</label>
												<img src="img/ajax-loader.gif" class="ajax-loading">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div id="upload_youtube" class="tab-pane fade">
							<div class="col-md-12">
								<form action="api/youtube/upload.php" id="youtube-form" method="POST">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<h4>Youtube</h4>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control" name="title" placeholder="Title" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control" name="artist" placeholder="Artist" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control" name="url" placeholder="Youtube URL" required>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<button class="btn btn-primary btn-block ajax-btn-container">
													<i class="fa fa-cloud-download fa-2x"></i>
												</button>
												<img src="img/ajax-loader.gif" class="ajax-loading center-block">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>